<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagicCubeKit-beta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>MagicCubeKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D11816981EB2EFB5004C238A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D11816B11EB2EFB5004C238A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D11816BC1EB2EFB5004C238A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D13514D71F3C3AA9004AD479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D190A9261F3C3F5000B180A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D190A9FA1F3C407C00B180A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
